body {
    font-family: Helvetica, sans-serif;
}
body.index {
    background-color: rgb(6, 10, 49);
}
body.recipe {
    background-color: rgb(241, 239, 115);
}

h1 {
    text-align: center;
}
h1.index-h1 {
    color: rgb(241, 239, 115);
    font-weight: 800;
    font-size: 45px;
}
h1.recipe-h1 {
    font-size: 40px;
}
h1.recipe-h1, h2.recipe-h2 {
    color: rgb(10, 18, 95);
}

li.index-li {
    color: rgb(238, 240, 219);
}
li.recipe-li {
    color: rgb(40, 42, 46);
}

a.index-a {
    color: rgb(188, 190, 193);
    font-size: 21px;
    text-decoration: none;
    font-weight: 400;
}
a.recipe-a {
    color: rgb(30, 31, 32);
}

p.recipe-p {
    color: rgb(40, 42, 46);
}

img.recipe-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }