body {
    font-family: Helvetica, sans-serif;
}

.index {
    background-color: rgb(6, 10, 49);
    margin: 0;
}

.recipe {
    background-color: rgb(241, 239, 115);
}

h1 {
    text-align: center;
}

.index-h1 {
    color: rgb(241, 239, 115);
    font-weight: 800;
    font-size: 45px;
}

.recipe-h1 {
    font-size: 40px;
}

.recipe-h1, .recipe-h2 {
    color: rgb(10, 18, 95);
}

.index-ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

.index-li {
    list-style: none;
    width: 25%;
    margin: 0 auto 20px auto;
    border: 1px solid rgb(238, 240, 219);
}

.recipe-li {
    color: rgb(40, 42, 46);
}

.index-a {
    color: rgb(188, 190, 193);
    font-size: 21px;
    text-decoration: none;
    font-weight: 400;
    display: block;
    padding: 10px;
}

.recipe-a {
    color: rgb(30, 31, 32);
}

.recipe-p {
    color: rgb(40, 42, 46);
}

.recipe-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }